.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
	min-height: 100vh;
  display: flex;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

	align-items: center;
	padding: 1rem auto;
}
.content-container {
	max-width: 1024px;
	margin: 0.5rem auto;
	text-align: center;
	padding: 1rem auto;
}
h4{
 font-size: 16px;
  background: -webkit-linear-gradient(rgb(187, 97, 97), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
